/*###############*/
/* Główne*/
/*###############*/

html { 
  background: url(money1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  height: 100%;

}

body {
    margin-top: 3em;
    font-family: 'Open Sans';
    color: #34495e;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a:hover {
  text-decoration: none;
}

#MyProfile{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

#MyProfile h4{
  text-align: center;
}
.MyProfile_panel {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #e5e5e5;
  text-align: left;
  text-decoration: none;
}
.MyProfile_panel:hover {
  background-color: #f7f8fa;
}
#MyProfile a:hover {
  -webkit-animation: pulse .8s;
  animation: pulse .8s;
}

.about {
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
}
.about_top {
  margin-bottom: 5rem;
}
.thumbnail {
  background-color: #8FBC8F;
  border-radius: 6px;
  padding: 2rem;
}
.thumbnail h3 {
  color: #ffffff;
}
.thumbnail p {
  font-size: 1.5rem;
  color: #ffffff;
}

#nav-style {
    border: 0.5px solid 437eff;
}

#flash {
    margin-top: 95px;
    padding: 2rem;
}

.top-row-unlogged {
    margin-top: 80px;
    margin-bottom: 3px;
}

.top-row-logged {
    margin-top: 95px; 
    margin-bottom: 3px;
}

.top-row-range {
    margin-top: 101px; 
    margin-bottom: 3px;
}
/*###############*/
/* Menu górne*/
/*###############*/

.navbar{

font-size: 1.7rem;
color: #34495e;
padding-top: 0.5rem;
}

.navbar-nav {
width: 100%;
text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-outer{
width: 1200px;
}

.navbar-default .navbar-nav > li > a{
color: #34495e;
margin-left: 5px;
border: 1px solid transparent;
line-height: 1rem;
}

.navbar-default .navbar-nav > li > a:hover{
display: block;
color: #fc4349;
border: 1px solid transparent;
border-color: #fc4349;
line-height: 1rem;
border-radius: 4px;
transition: all 0.7s ease;
}

.navbar-default .navbar-nav > .active > a{
display: block;
border-color: #ffffff;
background-color: #DADFE1;
border-radius: 4px;
}

.navbar-default .navbar-nav > .active > a:hover{
color: #fc4349;
background-color: #34495E;
}

.navbar-default .navbar-nav > .active > a:focus{
background-color: #34495E;
}

/*###############*/
/*Buttons*/
/*###############*/

#log-reg {
  color: black;
  background-color: burlywood;
  border-radius: 35px;      
}
#log-reg:hover {

  color: white;
  background-color: dimgrey;
  border-radius: 35px;      
}

/*###############*/
/* Efekt Carousel*/
/*###############*/

#pokaz-slajdow{
padding-top: 5rem;
margin-left: 4rem;
margin-right: 4rem;
}

.carousel .item {
width: 100%;
max-height: 700px;
}

.carousel .item img {
 
  min-height: 500px;
  width: 100%;
}

.carousel .carousel-control{
background: none;
border: none;
top: 50%;
}

.carousel-caption{
top: 100px;
bottom: auto;
}

.carousel-caption h1{
text-transform: uppercase;
font-weight: 600;
line-height: 8rem;
color: #ffffff;
}

.carousel-caption p{
font-size: 2.5rem;
font-weight: 300;
color: #ffffff;
}

.carousel-inner {
border-radius: 25px;
background-color: rgba(0,0,0,0);
overflow: hidden;
}

.alert {
text-align: center;
border: 1px solid #ccc;
padding: 6px;
width: 400px;
}

/*###############*/
/* Stopka*/
/*###############*/

#stopka{
text-align: center;
background-color: #ebf5ef;
color: #ffffff;	
}

#stopka h4{
color: #000;	
font-size: 80%;
}


/*###############*/
/* Responsywność*/
/*###############*/

@media(min-width: 1200px){
	html{
		font-size: 50%;
		line-height: 1.2rem;
	}
    #stopka img{
        height: 3%;
        width: 3%;
    }
    #editableTable{
        font-size: 1.7rem;  
    }
}

@media(min-width: 992px) and (max-width: 1199px){
	html{
		font-size: 40%;
		line-height: 1.2rem;
	}
    #stopka img{
        height: 5%;
        width: 5%;
    }
    #editableTable{
        font-size: 2.2rem;  
    }
}

@media(min-width: 768px) and (max-width: 991px){
	html{
		font-size: 40%;
		line-height: 1.2rem;
	}
    #stopka img{
        height: 5%;
        width: 5%;
    }
    #editableTable{
        font-size: 1.8rem;  
    }
}


@media(max-width: 767px){
  .carousel-caption h1,
	.carousel-caption p{
		font-size: 1.5rem;
		line-height: 2.5rem;

	}

  .carousel .item img {
 
  min-height: 200px;
  width: 100%;
}

  .block{
  	margin-left: -20px;
  	margin-right: -20px;
  }
    #stopka img{
        height: 4%;
        width: 4%;
    }
    #editableTable{
        font-size: 1.1rem;  
    }
    h2 {
        font-size: 2rem; 
    }
}
