{% extends 'base.html' %}

{% block title %}Wydatek{% endblock %}

{% block footer %}
    
    <script src="/js/app.js"></script>
    <script>
      $(document).ready(function (){

        //get values based on selected Category from drop_down list
        $("#kategoria").change(function(){

          //get value from input amount
            var expenseValue = document.getElementById("expense_value").value;
          //get category name based on selected option 
            var expenseCategory= $('select').find('option:selected').val();
          //get category id based on selected option 
            var expenseId = $(this).children(":selected").attr("id");
            // $("#test2").html(data);
            // $("#test").html(expenseValue);
            $.post("/Expense/limit", {

              expenseValue: expenseValue,
              expenseCategory: expenseCategory,
              expenseId: expenseId

          }, function(data, status) {
              $("#limitMessage").html(data);
          });

            
        });

        $("#testAjax").keyup(function(){
          var name = $("#testAjax").val();
            $.post("/Expense/test", {
              suggestion: name
          }, function(data, status) {
              $("#test").html(data);
          });
        });
      });

    </script>

{% endblock %}

{% block body %}

<div class="container top-row-logged">

<div id="limitMessage">
     
</div>

<!-- <input id="testAjax" type="text" name="name">
<p id="test"></p>
<p id="test2"></p> -->

    <div class="col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10">
      <h3 class="text-center">Dodaj wydatek</h3>
      <form action="/expense/add" method="post">
        <div class="form-group">
            <div class="row">
                  <label for="amount" class="col-md-2 col-lg-2">
                    Kwota:
                  </label>
                  <div class="col-md-10 col-lg-10 input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-usd"></span></span>
                    <input id="expense_value" type="text" class="form-control" name="amount" placeholder="Wprowadź kwotę wydatku" required>
                  </div>
              </div>
        </div>
        
    <div class="row">
        <div class="form-group">
          <label for="date_expense" class="col-md-2 col-lg-2">
            Data:
          </label>
          <div class="col-md-10 col-lg-10 input-group">
            <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
            <input class="form-control" type="text" id="date" name="date_expense" placeholder="YYYY-MM-DD" required/>
          </div>
        </div>  
      </div>

    <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            Sposób płatności:
          </div>
          <div class="col-md-10 col-lg-10">

            {% for payment in payment %}

              {% if loop.index0 == 0 %}
                <label class="radio">
                  <input type="radio" name="payment" id="{{ payment.name }}" value="{{ payment.name }}" checked>
                  {{ payment.name }}
                </label>
              {% endif %}

              {% if loop.index0 > 0 %}
                <label class="radio">
                  <input type="radio" name="payment" id="{{ payment.name }}" value="{{ payment.name }}">
                  {{ payment.name }}
                </label>
              {% endif %}

            {% endfor %}

         </div>
      </div>
    </div>

    <div class="form-group">
    <div class="row">
    <label for="category" class="col-md-2 col-lg-2">Kategoria:</label>
        <div class="col-md-10 col-lg-10">
            <select class="form-control" name="category" id="kategoria">
              {% for expense in expense %}
                <option id="{{ expense.id }}" value="{{ expense.name }}">{{ expense.name }}
                  {% if expense.limit_value > 0 %} 
                    </br>
                      <i>: Limit: {{ expense.limit_value }} zł</i>
                  {% endif %}
                </option>
              {% endfor %}
            </select>
        </div>
    </div>
  </div>

    <div class="form-group shadow-textarea">
      <div class="row">
        <label for="comment" class="col-md-2 col-lg-2">Komentarz:</label>
          <div class="col-md-10 col-lg-10">
            <textarea class="form-control z-depth-1" name="comment" id="komentarz" rows="1"></textarea>
              </div>
        </div>
    </div>
          
        <div class="form-group">
          <div class="row">
            <div class="col-md-offset-2 col-md-10">
              <button type="submit" class="btn btn-success btn-sm">
                Dodaj
              </button>
              <button type="reset" class="btn btn-danger btn-sm">
                Anuluj
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>              


{% endblock %}