{% extends 'base.html' %}

{% block title %}Bilans{% endblock %}

{% block footer %}
    
    <script src="/js/app.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script>

            $(document).ready(function() {
            var test = $('#test').data("isTest");
            console.log(test);
        });

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);


        function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['name', 'amount'],
        ]);

        var options = {
          //title: 'Struktura przychodów'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
          
        var data = google.visualization.arrayToDataTable([
          ['name', 'amount'],
            
         
        ]);

        var options = {
          //title: 'Struktura przychodów'
        };

        var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart2.draw(data, options);
      }
    </script>
     
{% endblock %}

{% block body %}

<!--###############################-->
<!--formularz########################-->
<!--###############################-->
<form action="/balance/show" method="post">
  <div class="form-group top-row-range">
    <div class="col-xs-offset-1 col-xs-11 col-sm-offset-7 col-sm-5 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4 text-right"> 
      <label for="month">Wybierz zakres:</label>
        <select class="form-control" name="month" id="range-style">
          <option value="current_month">Bieżący miesiąc</option>
          <option value="last_month">Poprzedni miesiąc</option>
          <option value="current_year">Bierzący rok</option>
          <option value="custom" data-toggle="modal" data-target="#myModal"><a href="#date-range">Niestandardowy</a></option>
        </select> 
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success btn-sm">
              Potwierdź
            </button>
          </div>
        </div>
      </div>
    </div>  

<!--################################################-->
<!--modal window zakred dat ########################-->
<!--################################################--> 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog narrow-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Zakres dat</h4>
      </div>
            
      <div class="modal-body">
        <div class="input-group input-daterange">
          <input type="text" class="form-control" id ="date" name="date1">
            <div class="input-group-addon">do</div>
            <input type="text" class="form-control" id ="date" name="date2">
          </div>
      </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-default">OK</button>
        </div>
         
      </div>
    </div> 
  </div>
</form>  


<div class="container">
  <div class="col-xs-offset-1 col-xs-10 col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
    <div class="table-responsive">
      <div class="table table-striped w-auto">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Przychody</h2></div>
            </div>
        </div>
           <table id="editableTable" class="table table-stripped">
        <thead>
            <tr>
                <th>Kwota</th>
                <th>Data</th>
                <th>Kategoria</th>                          
            </tr>
        </thead>
        <tbody>
          {% if incomes %}
          {% for incomes in incomes %}
                <tr class="table-info">
                  <td>{{ incomes.amount }}</td>
                  <td>{{ incomes.date_of_income }}</td> 
                  <td>{{ incomes.name }}</td>               
               </tr> 
          {% endfor %}
          <div id="test" data-is-test="{{ incomes|json_encode }}"></div>
          {% endif %} 
        </tbody>
       </table> 
      </div>
      {% if incomes %}
      {% set sum = 0 %}                  
        {% for incomes in incomes %}            
        {% set sum = sum + incomes.amount %}        
        {% endfor %}    
      <h4>Suma przychodów: {{ sum }}  zł</h4>
      {% endif %}
    </div>
  </div>
</div>
      
<div class="container">
    <div class="col-xs-offset-1 col-xs-10 col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
    <div class="table-responsive">
        <div class="table table-striped w-auto">
                <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Wydatki</h2></div>
                </div>
            </div>
         <table id="editableTable" class="table table-stripped">
          <thead>
              <tr>
                <th>Kwota</th>
                <th>Data</th>
                <th>Kategoria</th>                          
              </tr>
          </thead>
          <tbody>
          {% if expense %}
          {% for expense in expense %}
                <tr class="table-info">
                  <td>{{ expense.amount }}</td>
                  <td>{{ expense.date_of_expense }}</td> 
                  <td>{{ expense.name }}</td>               
               </tr> 
          {% endfor %}
          {% endif %} 
        </tbody>
        </table> 
      </div>
        {% if expense %}
        {% set sum = 0 %}                  
        {% for expense in expense %}            
        {% set sum = sum + expense.amount %}        
        {% endfor %}    
      <h4>Suma wydatków: {{ sum }}  zł</h4>
      {% endif %}
    </div>
  </div>
</div>

<!--###############################-->
<!--diagram ########################-->
<!--###############################-->
  
<div class="container">  
  <h4 style="text-align: center;">Struktura przychodów</h4>
  <div class="col-md-offset-4" id="piechart"></div>
</div>

<div class="container">  
  <h4 style="text-align: center;">Struktura wydatków</h4>
  <div class="col-md-offset-4" id="piechart2"></div>
</div>

  

{% endblock %}