{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>

    <div class="container top-row-unlogged">
        <div class="row">
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>Imię</dt>
                    <dd>{{ user.name }}</dd>
                    <dt>Email</dt>
                    <dd>{{ user.email }}</dd>
                </dl>
                
                <a href="/profile/edit">Edycja</a>
            </div>
        </div>
    </div>

{% endblock %}