{% extends 'base.html' %}

{% block title %}Przychód{% endblock %}

{% block footer %}
    
    <script src="/js/app.js"></script>

{% endblock %}

{% block body %}

<div class="container top-row-logged">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10">
      <h3 class="text-center">Dodaj przychód</h3>
        <!--action="test.php"-->
      <form action="/income/add" method="post">
            <div class="form-group">
                <div class="row">
                  <label for="price" class="col-md-2">
                    Kwota:
                  </label>
                      <div class="col-md-10 input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-usd"></span></span>
                        <input type="text" class="form-control" name="price" placeholder="Wprowadź kwotę przychodu" required>
                      </div>
                  </div>
            </div>
          
            
            <div class="form-group">
            <div class="row">
              <label for="date_income" class="col-md-2">
            Data uzyskania:
              </label>
              <div class="col-md-10 input-group">
                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                <input class="form-control" type="text" id="date" name="date_income" placeholder="YYYY-MM-DD" required />
                </div>
              </div>
            </div>  


      <div class="form-group">
        <div class="row">
          <h4 class="col-md-2">
            Kategoria:
          </h4>
          <div class="col-md-10">
            <label class="radio">
              <input type="radio" name="category" id="Salary" value="Wynagrodzenie" checked>
              Wynagrodzenie
            </label>
            <label class="radio">
              <input type="radio" name="category" id="Interest" value="Odsetki bankowe">
              Odsetki bankowe
            </label>
            <label class="radio">
              <input type="radio" name="category" id="Allegro" value="Allegro">
              Sprzedaż na Allegro
            </label>
            <label class="radio">
              <input type="radio" name="category" id="Another" value="Inne">
              Inne
            </label>
            </div>
          </div>
        </div>

        <div class="form-group shadow-textarea">
            <div class="row">
                <label for="comment" class="col-md-2 col-lg-2">Komentarz:</label>
                    <div class="col-md-10 col-lg-10">
                        <textarea class="form-control z-depth-1" name="comment" rows="1"></textarea>
                    </div>
                </div>
            </div>

        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success btn-sm">
              Dodaj
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
              Anuluj
            </button>
          </div>
        </div>
      </form>
        
  </div>
</div>      

{% endblock %}